<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Transactions</title>
<link
	th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css}"
	rel="stylesheet" />
<link th:href="@{../css/style.css}" rel="stylesheet" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap"
	rel="stylesheet">

</head>
<body>
	<header>
		<nav>
			<img th:src="@{../images/white_logo.png}" class='logo'><span
				class='logoName'>CuddleCoin</span>
		</nav>
		<div class="navbar">
			<ul>
				<li><a href="/secure/transaction">Home</a></li>
				<li><a href="/secure/topCategories">Top 5 Categories</a></li>
				<li><a href="/secure/goal">Financial Goals</a></li>
				<li><a href="/admin/users">Users</a></li>
			</ul>
		</div>
	</header>
	<div class='container'>
		<div class='form'>
			<h1>Enter your transaction:</h1>
			<form method="post" action=""
				th:action="@{/secure/transaction/insertTr}" th:object="${tr}">
				<input type="hidden" name="id" th:field="*{id}" /> Transaction
				type: <select th:field="*{type}">
					<option th:each="t:*{TYPES}" th:value="${t}" th:text="${t}" />
				</select><br> Category: <select th:field="*{category}">
					<option th:each="c:*{CATEGORIES}" th:value="${c}" th:text="${c}" />
				</select><br> Amount: <input type="text" name="amount"
					th:field="*{amount}" /><br> Description: <input type="text"
					name="description" th:field="*{description}" /><br> Date: <input
					type="date" name="date" th:field="*{date}"><br> <img
					th:src="@{../images/catcoin.png}" class='cats'> <input
					type="submit" value="Add" class='button' />
			</form>
		</div>
		<br>
		<hr>
		<br>
		<h1>History</h1>
		<table>
			<tr>
				<th>Transaction type</th>
				<th>Date</th>
				<th>Category</th>
				<th>Amount</th>
				<th>Description</th>
				<th>Overall Budget</th>
				<th></th>
				<th></th>
			</tr>
			<tbody th:if="${ trList!= null and !trList.isEmpty()}">
				<tr th:each="tr : ${trList}">
					<td th:text="${tr.type}"></td>
					<td th:text="${tr.date}"></td>
					<td th:text="${tr.category}"></td>
					<td th:text="${tr.amount}"></td>
					<td th:text="${tr.description}"></td>
					<td th:text="${tr.budget}"></td>
					<td><a th:href="@{/secure/transaction/editTrById/}+${tr.id}">Edit</a></td>
					<td><a th:href="@{/secure/transaction/deleteTrById/}+${tr.id}">Delete</a></td>
				</tr>
			</tbody>
		</table>
		<a href="/secure/topCategories"><button>View Top 5
				Categories</button></a>
		<form method="post" th:action="@{/logout}">
			<input type="submit" value="Logout" />
		</form>
	</div>
</body>
</html>